.DS_Store
node_modules
/dist
.css
netlify

# local env files
.env.local
.env.*.local
.css

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.css

# Editor directories and files
.idea
.vscode
*.css
*.css
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
